* {margin:0px;}
.header-center {
    text-align: center;
    background-size: contain;
    background-color:#bbc6cb;
    padding-top: 10px;
    box-shadow: 0px 5px 10px #888888;
}
main {
    display: grid;
    margin: 10px;
    grid-template-columns: 30% 50%;
}
.form-card {
    grid-column-start: 1;
    grid-column-end: 2;
    z-index: 1;
    display: block;
    margin-top: 50px;
    text-align: center;
    height: 10px;
}
.form-card input {
    margin: 5px
}
.text {
    grid-column-start: 3;
    grid-column-end: 3;
    z-index: 1;
    display: block;
    margin-top: 50px;
} 
body {
    background-color: #e7f5fe;
}